a, a:link, a:visited  {
  color: inherit;
  text-decoration: none;
}

.header {
  border-bottom: none;
}

.nav-link {
  display: block;
  font-style: inherit;
}

.nav-link.active {
  color: #5E96FC;
}

.title {
  flex: 1;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .header-container {
    gap: 0;
  }
  .title {
    flex: 0 ;
  }
}